<h1 class="ag-title"> A-G Subject Requirements</h1>
<h2> <i class="fa fa-check-circle fa-1x"> </i> History ("a")</h2>
<body>

<form action="demo_form.asp" method="get">
  <input type="checkbox" name="vehicle" value="world history, cultures and historical geography"> World History, Cultures, and Historical Geography<br>
<input type="checkbox" name="vehicle" value="Car" checked="checked"> One half year of U.S. history, or one half-year of American government or civics<br>
</form></br>

</body>
</html>

Two years, including one year of world history, cultures and historical geography and one year of U.S. history, or one-half year of U.S. history and one-half year of  American government or civics.
</br>
<h2> <i class="fa fa-check-circle fa-1x"> </i> English (“b”) </h2><body>

<form action="demo_form.asp" method="get">
  <input type="checkbox" name="vehicle" value="Bike"> I have a bike<br>
  <input type="checkbox" name="vehicle" value="Car" checked="checked"> I have a car<br>
</form> </br>

</body>
 Four years of college preparatory English that integrates reading of classic and modern literature, frequent and regular writing, and practice listening and speaking.
</br>
<h2> <i class="fa fa-check-circle fa-1x"> </i> Mathematics (“c”) </h2> <form action="demo_form.asp" method="get">
  <input type="checkbox" name="vehicle" value="Bike"> I have a bike<br>
  <input type="checkbox" name="vehicle" value="Car" checked="checked"> I have a car<br>
</form> Three years of college-preparatory mathematics that include or integrate the topics covered in elementary and advanced algebra and two- and three-dimensional geometry.
<form action="demo_form.asp" method="get">
  <input type="checkbox" name="vehicle" value="Bike"> I have a bike<br>
  <input type="checkbox" name="vehicle" value="Car" checked="checked"> I have a car<br>
</form> </br>
<h2> <i class="fa fa-check-circle fa-1x"> </i>  Laboratory science (“d”) </h2> Two years of laboratory science providing fundamental knowledge in at least two of the three disciplines of biology, chemistry and physics.
<form action="demo_form.asp" method="get">
  <input type="checkbox" name="vehicle" value="Bike"> I have a bike<br>
  <input type="checkbox" name="vehicle" value="Car" checked="checked"> I have a car<br>
</form> </br>
<h2> <i class="fa fa-check-circle fa-1x"> </i> Language other than English (“e”) </h2> Two years of the same language other than English or equivalent to the second-level of high school instruction.
<form action="demo_form.asp" method="get">
  <input type="checkbox" name="vehicle" value="Bike"> I have a bike<br>
  <input type="checkbox" name="vehicle" value="Car" checked="checked"> I have a car<br>
</form> </br>
<h2> <i class="fa fa-check-circle fa-1x"> </i> Visual and performing arts (“f”) </h2> One year chosen from dance, drama/theater, music or visual art.
<form action="demo_form.asp" method="get">
  <input type="checkbox" name="vehicle" value="Bike"> I have a bike<br>
  <input type="checkbox" name="vehicle" value="Car" checked="checked"> I have a car<br>
</form> </br>
<h2> <i class="fa fa-check-circle fa-1x"> </i> College-preparatory elective (“g”) </h2> One year chosen from the “a-f” courses beyond those used to satisfy the requirements above, or courses that have been approved solely in the elective area.
</html>