<h1> Community Colleges </h1>	
<hr>
	<li>
	  Community Colleges degrees range from certification 
	and/or diplomas to associate degrees. An associate degree can be used for 
	career advancement or for transferring to a four-year college.  Four-year 
	colleges offer bachelor’s degrees and, depending on the college, master’s 
	and doctorate degrees.  It is important to know which degree type is 
	preferred for your future professional objective.	
	</li>
	 
	<li>
	  Classes are cheaper and admission is much easier. Many community colleges have agreements with four-year colleges, 
	  so that if you decide college is right for you, you can then transfer those credits.  
  </li>