<ul>
    <li>
        <a href="#test-prep" class="spoke_1">
        <span>Community Colleges</span>
        </a>        
    </li>
    
    <li>
        <a href="#essays" class="spoke_2">
        <span>UCs</span>
        </a>        
    </li>
    
    <li>
        <a href="#/scholarships" class="spoke_3">
        <span>Cal States</span>
        </a>        
    </li>
    
    <li>
        <a href="#/outside-school" class="spoke_4">
        <span>Private Schools</span>
        </a>        
    </li>
    
    <li>
        <a href="#/help" class="spoke_5">
        <span>Technical / Vocational Schools</span>
        </a>        
    </li>
    
    <li>
        <a href="#/options" class="spoke_6">
        <span>Learn Your Options</span>
        </a>        
    </li>
</ul>