<ul>
    <li>
        <a href="#scholarships" class="spoke_1">
        <span>Scholarship Search</span>
        </a>        
    </li>
    
    <li>
        <a href="#colleges" class="spoke_2">
        <span>College Search</span>
        </a>        
    </li>
    
    <li>
        <a href="#/planner" class="spoke_3">
        <span>Course Planner</span>
        </a>        
    </li>
    
    <li>
        <a href="#" class="spoke_4">
        <span>Getting Help</span>
        </a>        
    </li>
    
    <li>
        <a href="#" class="spoke_5">
        <span>Catching Up</span>
        </a>        
    </li>
    
    <li>
        <a href="#" class="spoke_6">
        <span>??</span>
        </a>        
    </li>
</ul>