<ul>
    <li>
        <a href="#ccs" class="spoke_1">
        <span>Community Colleges</span>
        </a>        
    </li>
    
    <li>
        <a href="#ucs" class="spoke_2">
        <span>UCs</span>
        </a>        
    </li>
    
    <li>
        <a href="#/cal-states" class="spoke_3">
        <span>Cal States</span>
        </a>        
    </li>
    
    <li>
        <a href="#/private-schools" class="spoke_4">
        <span>Private Schools</span>
        </a>        
    </li>
    
    <li>
        <a href="#/tech-schools" class="spoke_5">
        <span>Technical / Vocational Schools</span>
        </a>        
    </li>
    
    <li>
        <a href="#/options" class="spoke_6">
        <span>Learn Your Options</span>
        </a>        
    </li>
</ul>